NET clk_in TNM_NET=input_clk;
TIMESPEC ts_input_clk = PERIOD input_clk 30.303 ns HIGH 50%; #INPUT_JITTER 312.5ps;

NET "a<1>" LOC = "U25"; #switch 1
NET "a<0>" LOC = "AG27"; #switch 2
NET "b<1>" LOC = "AF25"; #switch 3
NET "b<0>" LOC = "AF26"; #switch 4
NET "agreatb" LOC = "H18"; #switch led0s
NET "clk_in" LOC = "AH17"; #CLK 33MHZ FPGA
NET "rst_in" LOC = "E9"; #FPGA_CPU_RESET_B
NET "led_1" LOC = "L18"; #GPIO_LED_1
NET "led_2" LOC = "G15"; #GPIO_LED_2
NET "led_3" LOC = "AD26"; #GPIO_LED_3
NET "led_4" LOC = "G16"; #GPIO_LED_4

NET "serial2_tx" LOC = "F10"; #FPGA_SERIAL2_TX
NET "serial2_rx" LOC = "G10"; #FPGA_SERIAL2_TX

NET "serial1_tx" LOC = "AG20";
NET "serial1_rx" LOC = "AG15";

NET "hdr_2" LOC = "H33";
NET "hdr_4" LOC = "F34";
NET "hdr_6" LOC = "H34";

NET "phy_rxclk" LOC = "H17";
NET "phy_txclk" LOC = "K17";
NET "phy_txc_gtxclk" LOC = "J16";

NET "phy_reset" LOC = "J14";
NET "phy_mdio" LOC = "H13";
NET "phy_mdc" LOC = "H19";
NET "phy_int" LOC = "H20";
